body{
  font-family: century gothic;
 background: url("bc.png") center;
      background-attachment:fixed ;
      background-size: cover;
      background-repeat: no-repeat;
}
.about-us {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius:10px ;

}

.about-us h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.about-us p {
  font-size: 20px;
  line-height: 1.5;
  text-align:justify;
  margin-bottom: 10px;
  letter-spacing: 3px;
}
